<div class="container">
    <h1>Team Name</h1>
    <div class="row">
        <div class="player-list">
            <app-player-card [ngClass]="{'selected': player === selectedPlayer}" (click)="selectedPlayer = player" *ngFor="let player of players; let i = index" [player]="player"></app-player-card>
        </div>

        <app-player-detail [player]="selectedPlayer" *ngIf="!isAddPlayer"></app-player-detail>
        <app-player-form *ngIf="isAddPlayer" (onCreate)="addPlayer($event)"></app-player-form>

    </div>

    <button class="btn btn-link" (click)="toggleAddPlayer(!isAddPlayer)">{{isAddPlayer ? '➖' : '➕'}} Add Players</button>
</div>