.container {
    max-width: 1000px;
}

.row {
    display: flex;
    column-gap: 2rem;
    align-items: baseline;
}

.player-list {
    flex: 20%;
}

.card {
    outline: solid;
    border-radius: 5px;
    padding: 10px;
}