.container {
    max-width: 1000px;
}

.row {
    display: flex;
    column-gap: 2rem;
    align-items: flex-start;
}

label {
    display: flex;
    align-items: center;
}

.player-list {
    flex: 20%;
}

.card {
    display: flex;
    justify-content: space-between;
    outline: solid;
    border-radius: 5px;
    padding: 10px;
}

.stat {
    display: flex;
    flex-direction: column;
    text-align: center;
}